body{
    background-color: burlywood !important;
}
h1{
    font-family:Blox2 !important;
    font-size: 50px !important;
    font-weight:bold;
    text-shadow: 3px 7px 4px white;
    color:black !important;
    letter-spacing: 4px;
}
p{
    color: #575757;
}
.myMenu a{
    color:white;
}
.myMenu a:hover{
    color:white;
}

.myMenu{
    background-color: black;
    width:300px;
    height:100vh;/***100% of the height of the viewport***/
    position:fixed;
    right:-300;
    z-index: 1000;
    opacity:0.8;
    padding-top: 100px;
    transition:1s;
    -webkit-transition: 1s;/*for safari 3.1 to 6.0*/
}

body{
    background-color: beige;
}
@font-face{
    font-family:Blox2;
    src: url("Blox2.ttf");
}


/*work.html*/
#work #myCarousel{
    padding:15px ;
}
#work #myCarousel img{
    width:100vw;
}

#work .hide-title h5{
    position: absolute;
    right:10%;
    bottom:10%;
    color:white;
    font-size:1.3em;
    z-index: 10;
    
}

#work #porfolio img:hover{
    filter: blur(2px) opacity(0.5);
    -webkit-filter: blur(2px) opacity(0.5);
}

#work .bg-red{
    background-color: red;
    padding:20px;
    margin:25px;
    border:double white 10px;
    box-shadow:3px 7px 10px grey;
    position:relative;
}

#work .bg-black{
    background-color: black;
    padding:20px;
    margin:25px;
    border:double white 10px;
    box-shadow:3px 7px 10px grey;
    position:relative;
}

#work .bg-brown{
    background-color: saddlebrown;
    padding:20px;
    margin:25px;
    border:double white 10px;
    box-shadow:3px 7px 10px grey;
    position:relative;
}

#work .bg-blue{
    background-color: brown;
    padding:20px;
    margin:25px;
    border:double white 10px;
    box-shadow:3px 7px 10px grey;
    position:relative;
}

#work img{
    border:solid white 7px;
}

/*change the padding design on mbile sites*/
@media (max-width: 768px){
    div{
        padding:10px 40px;
    }
    #index .myMenu{
        background-color: black;
        width:100vw !important;
        height:40px;
        position: ;
        right:-100vw;
        z-index: 1000;
        opacity: none;
        padding-top: 0px;
        padding-bottom:10px
        transition:1s;
        -webkit-transition: 1s;/*for safari 3.1 to 6.0*/
    }
    #index .myMenu div{
        display:inline-block;
        margin:10 auto;
        width:100px!important;
        
    }
}

/* Medium devices (desktops, 992px and below) */
@media (max-width: 992px) { 
    div{
        padding:10px;
    }
    #work #portfolio, .bg-blue ,.bg-red,.bg-black,.bg-brown {
        background-color:saddlebrown !important; 
        padding:20px;
        margin:25px;
        border:double white 10px;
        box-shadow:3px 7px 10px grey;
        position:relative;
        border-radius: 20px;
    }
    #work img{
        border:solid white;
        border-radius: 30px;
    }
    #work #portfolio ,h5{
        font-size: 16px!important;
    }
    
}

/* Large devices (large desktops, 1200px and below) */
@media (max-width: 1200px) { 
    #work .bg-blue{
        background-color: blue;
        padding:20px;
        margin:25px;
        border:double white 10px;
        box-shadow:3px 7px 10px grey;
        position:relative;
    }
}